@import "../font/awesome/all.css";
@font-face{
    font-family: "OpenSans-bold";
    src:url("../font/Open_Sans/OpenSans-SemiBold.ttf");
}
@font-face{
    font-family: "OpenSans-Regular";
    src:url("../font/Open_Sans/OpenSans-Regular.ttf");
}

@font-face{
    font-family: "Roboto";
    src:url("../font/GeoSans/Roboto-Thin.ttf");
}
@font-face{
    font-family: "Roboto-medium";
    src:url("../font/roboto/Roboto-Medium.ttf");
}
@font-face{
    font-family: "Roboto-regular";
    src:url("../font/roboto/Roboto-Regular.ttf");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "OpenSans-Regular";
}
body{
    width:100%;
    height: 100vh;
    background-image: url('../imagem/edgar-guerra-426747-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.fundo{
    width:100%;
    height:100%;

}
.principal{
    width:100%;
    height: 100%;
    padding-top: 30px;
    margin: 0px;
    margin-bottom: 30px;
}
#container{
    width: 1350px;
    height: 900px;
    /* border:1px solid black; */
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;

}
header{
    width:1348px;
    height: 180px;
    background-color: #00984a;
    padding-top: 1px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
#logo{
    width:180px;
    height: 150px;
    /* border:1px solid black; */
    margin-top: 10px;
    margin-left: 25px;
    float: left;
}
#logo img{
    width:180px;
    height: 150px;
}
#info_usuario{
    width: 400px;
    height: 150px;
    border: 1px solid #fff;
    margin-top: 14px;
    margin-left: 900px;
    background-color: #006330;
    border-radius: 30px;
}
#sobre_usuario{
    width:240px;
    height: 140px;
    margin-left: 1px;
    margin-top: 3px;
    padding-top: 15px;
    /* border:1px solid black; */
    float:left;
}
.segura_info{
    width:150px;
    height: auto;
    min-height: 50px;
    float:left;
    margin-left: 50px;
    margin-top: 10px;
    font-family: verdana;
    font-size: 17px;
    text-align: center;
    color: #fff; 
    line-height: 30px;
    letter-spacing: 2px;
    /* border:1px solid black; */
}
.segura_info a{
    text-decoration: none;
    color: #fff; 
    font-size: 18px;
}
.segura_info a:hover{  
    transition: 0.5s;
    color: rgb(0, 0, 0); 
}
.imagem_home{
    width:50px;
    height: 50px;
    border-radius: 60px;
    background-color: white;
    padding-top: 5px;
    margin-top: 75px;
    margin-left: 220px;
}
.imagem_home img{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 35px;
    height: 35px; 
    cursor: pointer;
 }
 .imagem_home img:hover{
    transition: 0.5s;
    transform:  scale(1.1)
 }
 #imagem_usuario{
    width: 140px;
    height: 140px;
    float: left;
    border-radius: 80px;
    margin-top: 3px;
    margin-left: 10px;
    background-color: white;
}
#imagem_usuario img{
    width:130px;
    height: 130px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

nav{
    width: 236px;
    height: 718px;
    border-right: 1px solid black;
    float: left;
    background-color: #ffffff;
    border-bottom-left-radius: 10px;
}
#texto_menu{
    font-family: verdana;
    font-size: 19px;
    margin-top: 30px;
    margin-left: 20px;
    border-bottom:1px solid black;
}
.menu_lateral{
    width: 235px;
    height: 718px;
    overflow-y: auto;
    overflow-x: hidden;
}
.item_menu{
    width: 235px;
    height: auto;
    min-height: 60px;
    border-bottom:1px solid black;
    padding: 10px;
    background-color: #ffffff;
    cursor: pointer;
}
.item_menu:hover, .item_sub_menu:hover{
    background-color: #006330;
}
.item_menu img, .item_sub_menu img{
    width: 39px;
    height: 40px;
    cursor: pointer;
    float: left;
    margin-left: 5px;
}
.item_menu p{
    font-size: 16px;
    font-family: verdana;
    margin-top: 10px;
    margin-left: 50px;
    color:rgb(0, 0, 0);

}
.item_sub_menu{
    width: 235px;
    height: auto;
    min-height: 60px;
    border-bottom:1px solid black;
    padding: 10px 20px;
    background-color: #ffffff;
    cursor: pointer;
}
.item_sub_menu p{
    font-size: 15px;
    font-family: verdana;
    margin-top: 10px;
    margin-left: 50px;
    color:rgb(0, 0, 0);
}
.sub_menu{
    width:235px;
    height: 0px;
    /* border:1px solid black; */
    display: none;
}

.conteudo{
    width: 1112px;
    height: 718px;
    border-bottom-right-radius: 10px;
    float: left;
    background-color: #ffffff;
}

/* Usuario */
.tbl_usuarios{
    width: 600px;
    height: 280px;
    border: 1px solid black;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    border-radius: 10px;
}
.segura_text_button{
    width:100%;
    height: 69px;
    margin-left: auto;
    margin-right: auto;
    background-color: #006330;
    font-family: verdana;
    margin-bottom: 10px;
}
.segura_text_button h2{
    float: left;
    margin-top: 10px;
    margin-left: 25px;
    text-transform: uppercase;
    color: #fff;
}
.titulo_menu{
    font-family: verdana;
    font-size: 16px;
    margin-left: 20px;

}

.btn_padrao{
    width: 150px;
    height: 40px;
    cursor: pointer;
    outline: none;
    border-radius: 10px;
    border:none;
    margin-top: 150px;
    margin-left: 230px;
    font-family: verdana;
    font-size: 15px;
    color: white;
    background-color: #00984A;
}

/********************************************************
MODAL***************************************************/
#container2{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    z-index: 999;
    display: none;
    top: 0;
    text-align: center;
}
#modal{
    width: auto;
    min-width: 500px;
    height: auto;
    min-height: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    padding: 20px;
    /* background-color: rgb(0, 0, 0); */
    /* overflow-y: overlay; */
    /* max-height: 500px:; */
    display: inline-block;
}
