.usuario_slc{
     height: 35px;
     /* outline: none; */
     border: none;
     background: none;
     color: rgb(255, 255, 255);
     font-family: "verdana";
     /* font-weight: bold; */
     font-size: 17px;
     font-size: 18px;
     width: 400px;
     margin: 20px auto;
     /* padding: 25px 10px; */
     display: block;
     resize: none;
     border-radius: 1px;
     border-bottom: 1px solid black;
}
.usuario_slc option{
    color:black;
}
.usuario_slc:focus{
    outline:none;
}