@import "style.css";
@import "estrutura.css";

#principal{
    width:100%;
    height: auto;
    min-height: 2000px;
}
.containerCadastro{
    width:1200px;
    height: auto;
    min-height: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(255, 255, 255);
}
form label{
    font-family: Roboto;
    font-weight: bold;
    font-size: 20px;
    margin-top:15px;
    display:inline-block;

}
form input[type="text"], 
input[type="date"],
input[type="password"],
input[type="submit"]{
    width: 440px;
    height: 40px;
    background-color: #dcdcdc;
    border:none;
    outline: none;
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px;
    color: #000;
}

.containerCadastro h1{
    font-family: Roboto;
    font-weight: bold;
    font-size: 30px;
    margin-top: 50px;
    margin-left: 30px;
}
.seguraCadastro{
    width:1000px;
    height: auto;
    min-height: 325px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
.seguraCadastro h2{
    font-family: Roboto;
    font-weight: bold;
    font-size: 20px;
    margin-top: 30px;
    margin-left: 40px;
    
}
.linha{
    width:950px;
    border-bottom:2px solid black;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5px;
  
}
.form-center{
    width:950px;
    margin-left: auto;
    margin-right: auto;
}
.formDadosPessoais{
    width: auto;
    min-width:480px;
    height: 400px;
    float: left;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 75px;
    margin-left: 50px;
}
.formCarregarFotos{
    width:320px;
    height: 550px;;
    margin-left: 50px;
    float: left;

}
#addFotoCliente{
    width:200px;
    height: 200px;
    border-radius: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 7px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #dcdcdc;

}
#addCnhCliente{
    width:200px;
    height: 150px;
    border-radius: 10px;
    margin-right: auto;
    margin-left: auto;
    background-color: #dcdcdc;
    margin-top: 20px;
}
.btnFoto{
    width:250px;
    height: 50px;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 10px;
    background-color: #00984A;
    color: #fff;
    font-family: roboto;
    text-align: center;
    padding-top: 12px;
    font-size: 20px;
    font-weight: bold;
}
.formDadosComunicacao{
    width:900px;
    height: 180px;
    float: left;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 30px;
}
#txtEmail, #txtRua, #txtComplemento{
    width: 890px;
    
}
#btnCadastrar{
    width: 890px;
    background-color: #00984A;
    color:#fff;
    cursor: pointer;
    font-family: roboto;
    font-size: 18px;
    font-weight: bold;
}
.linhaInput{
    width:900px;
    height: 80px;
    margin-top: 5px;
}
.col_2{
    width:449px;
    height: 80px;
    float: left;
}
.col_3{
    width:300px;
    height: 100px;
    float: left;
    /* border:1px solid black; */
}
#chkTermos{
    float:left;
    margin-top:20px; 
    width:50px;
}
.form-center input[type="chebox"]{
    padding: 50px;
    width:50px;
}