@import "style.css";
@import "estrutura.css";

#principal{
    width:100%;
    height: auto;
    min-height: 1155px;
    background-color: #ffffff;
    /* border:1px solid black; */
}

.conteudo_faq{
    width: 100%;
    height: auto;
    min-height: 1055px;
    padding-top: 50px;
}
.menu_faq{
    width:100%;
    height: 60px;
    background-color: black;
}
.segura_item{
    width:1200px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
}
.menu_item{
    width:200px;
    height: 60px;
    float: left;
    cursor: pointer;
}
.menu_item p{
    text-align: center;
    margin-top: 20px;
    text-align: center;
    font-family: Roboto;
    font-weight: bold;
    font-size: 15px;
    color: #fff;
}
.menu_item:hover{
    transition: 1s;
    background-color: #306b2c;
}
.conteudo_faq h2{
    text-align: center;
    font-family: Roboto;
    font-weight: bold;
    font-size: 30px;
}
#conteudo{
    width:1300px;
    height: auto;
    min-height: 900px;
    margin-left: auto;
    margin-right: auto;
}
.texto_faq{
    width:800px;
    height: auto;
    min-height: 280px;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}
.texto_faq p{
    font-family: Roboto;
    font-weight: bold;
    font-size: 16px;
    line-height: 25px;
}

.caixa_faq{
    width:1000px;
    height: auto;
    min-height: 500px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    border:2px solid black;
}
.titulos_perguntas{
    width:1000px;
    height: auto;
    min-height: 100px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    text-align: center;
    font-family: Roboto;
    font-weight: bold;
    color:#ffffff;
    font-size: 16px;
    padding-top: 30px;
    background-color: #000000;
}
.linha_perguntas{
    width:999px;
    height: auto;
    min-height: 80px;
    border-top:2px solid black;
}
.segura_perguntas{
    width:900px;
    height: auto;
    min-height: 50px;
    padding-left: 30px;
    padding-top: 5px;
    float: left;
    

}
.linha_perguntas img{
    width: 60px;
    height: 70px;
    cursor: pointer;
    margin-left: 15px;
    float: left;
}
.segura_perguntas h3{
    font-family: Roboto;
    font-weight: bold;
    font-size: 19px;
    /* line-height: 25px; */
}
.segura_perguntas p{
    font-family: Roboto;
    font-weight: bold;
    font-size: 15px;
    line-height: 25px;
    margin-top: 10px;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
}
.paginacao{
    width:663px;
    height:50px;
    /* border:1px solid black; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
.paginacao_item{
    width:60px;
    height:50px;
    float: left;
    /* border-right:1px solid rgb(186, 186, 186); */
    
    text-align: center;
    font-family: Roboto-regular;
    font-size: 17px;
    padding-top: 15px;
    
}
.paginacao_item p {
    cursor: pointer;
}
