
@import "style.css";
@import "estrutura.css";

#header_home{
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    background-image: url(../imagem/slider/imagem1.jpg);
}
.btn_padrao{
    background-color: #008039;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    border: none;
}
#principal{
    width:100%;
    height:auto;
    min-height: 4000px;
    background-color: #fff;
    /* overflow:auto; */
}
.conteudo{
    margin-top: -20px;
    width:100%;
    height: auto;
    min-height: 5500px;

}
.section_anuncios{
    width: 100%;
    height: auto;
    min-height: 400px;
    margin: 0px auto;
    background-color: #ededed;
}

#div_anuncio{
    width:1000px;
    height: auto;
    min-height: 400px; 
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
}

.titulo_section{
    text-align: center;
    font-family: "Roboto";
    font-weight: bold;
    font-size: 40px;
    color:black;
}
.alugar_veiculo{
    width: 1000px;
    height: auto;
    min-height: 400px; 
    padding: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    overflow: hidden;
    border-radius: 10px;
}
.imagem_alugar_veiculo{
    width: 400px;
    height: 350px;
    margin-left: 20px;
    float: left;
}
.imagem_alugar_veiculo img{
    width: 400px;
    height: 350px;
}
.area_texto{
    width:400px;
    height: auto;
    min-height: 350px; 
    float: left;

    margin-left: 50px;
    /* padding-top: 100px;
    padding-left: 20px;
    padding-right: 200px; */
    font-family: "Roboto";
    font-weight: bold;
    font-size: 16px;
    color:#000;
    line-height: 25px;
    padding-top: 25px;
    text-align: justify;
}

.section_conteudo{
    width: 100%;
    height: auto;
    min-height: 400px;
    margin: 0px auto;
    background-color: #ededed;
    padding-top: 30px;
}

/* section2 */
.como_funciona{
    width:1200px;
    height: auto;
    min-height: 400px;
    margin-left: auto;
    margin-right: auto;   
}
#segura_como_funciona{
    width:1000px;
    height: auto;
    min-height: 400px;
    overflow: hidden;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
}
.area_texto_maior{
    height: auto;
    float: left;
    width:450px;
    min-height: 350px; 

    font-family: "Roboto";
    font-weight: bold;
    font-size: 16px;
    color:#000;
    line-height: 35px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
   
}
/* .area_texto_maior li{ 
    list-style: circle;
    list-style-type: decimal;
}  */
.imagem_como_funciona{
    float: left;
    width: 450px;
    height: 350px;
    margin-top: 0px;
    margin-left: 30px;
    border-radius: 5px;

}
/* fim section 2 */

.section_conteudo2{
    width: 100%;
    height: auto;
    min-height: 450px;
    margin: 0px auto;
}

/* section 3 */
.area_tipo_veiculo{
    width:1300px;
    height: auto;
    min-height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding-left:50px;
}
.tipos_veiculos{
    width: 350px;
    height: auto;
    min-height: 250px;
    float: left;
    margin-top:15px;
    margin-left: 50px;
    overflow: hidden;
}
.imagem_tipo{
    width: 180px;
    height: 180px;
    background: #00984a;
    border-radius: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.imagem_tipo:hover{
    background: #2f9428;
}
.tipos_veiculos h3{
    font-family: "Roboto-medium";
    font-weight: bold;  
    font-size: 20px;
    text-align: center;
    margin-top: 15px;
}
.tipos_veiculos p{
    font-family: "Roboto-medium";
    font-size: 15px;
    text-align: center;
    margin-top: 10px;
    line-height: 25px
}

/* fim section 3 */

/* section 4 */
.section_conteudo_anuncios{
    width: 100%;
    height: auto;
    min-height: 1030px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    /* background-color: gray; */
/*    box-shadow: -7px -8px 91px 0px #848484;*/
}
#area_anuncios{
    width:1200px;
    height: auto;
    min-height: 800px;
    margin: 0px auto;
    
}
.titulo_left{
    margin: 20px 10px;
    font-family: "Roboto";
    font-weight: bold;  
    font-size: 40px;
    text-align: center;
    /* font-weight: 900; */
}
#explicao_como_alugar{
    width:900px;
    height: auto;
    min-height: 00px;
    /* border:1px solid black; */
    margin-left: auto;
    margin-right: auto;
}
#explicao_como_alugar h3{
    font-family: "Roboto";
    font-weight: bold;  
    font-size: 30px;
    margin-top: 50px;
    text-align: center;
}
#explicao_como_alugar p{
    padding-left: 20px;
    font-family: "Roboto";
    font-weight: bold;  
    font-size: 15px;
    margin-top: 20px;
    text-align: center;
    line-height: 30px;
}
 #segura_filtro{
    width:1020px;
    height: 90px;
    border-radius: 15px;
    margin:40px auto;
    padding: 15px 60px;
}
.btn_filtro{
    width: 180px;
    height: 45px;
    display: block;
    margin: 20px auto;
    border-radius: 7px;
    color: white;
    font-family: "Roboto";
    font-weight: bold;  
    font-size: 17px;
    border: none;
    outline: none;
    background-color: #000;
    cursor: pointer;
}
.btn_filtro:hover{
    transition: 0.2s;
    background-color: rgb(77, 77, 77);
}
.combo_box{
    float: left;
    width: 220px;
    height: 75px;   
}
.combo_box label{
    font-family: "Roboto";
    font-weight: bold;  
    font-size: 17px;
}
.combo_box select{
    width:215px;
    height: 35px;
    margin-top:5px;
    border-radius: 5px;
    outline: none;
    font-family: "Roboto";
    font-weight: bold;  
    font-size: 15px;
} 

#segura_anuncios{
    width:1100px;
    height: auto;
    min-height: 905px;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 9px;
    overflow: hidden;
}

.anuncios{
    width: 300px;
    height: 380px;
    border-radius: 15px;
    float: left;
    margin: 30px 30px;
    background-color: #ffffff;
    /* border:2px solid #277b21; */
}
#segura_anuncios a{
    color:#000;
}
.anuncios:hover{
    transition: 1s;
    box-shadow:4px 4px 20px 0px rgb(142, 142, 142);
    /* transform: scale(1.1) */
}
.img_anuncio{
    width: 300px;
    height: 190px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-top-right-radius: 14px;
    border-top-left-radius: 14px;
}
.img_anuncio img{
    width: 297px;
    height: 188px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1px;
    display: block;
    border-radius: 2px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}
.info_anuncio{
    width:300px;
    height: auto;
    min-height: 150px;
    padding: 8px 15px;
}
.nome_veiculo{
    font-family: "Roboto-medium";
    font-size: 20px;
}
.info_veiculo{
    font-family: "Roboto-regular";
    font-size: 16px;
    line-height: 22px;
    /* font-weight: bold; */
}
.stars_avaliacao{
    width:210px;
    height: 35px;
    padding-top: 5px;
    margin-top: 10px;
}
.stars_avaliacao img{
    width:28px;
    height: 28px;
    float: left;
}
.percentual_avaliacao{
    font-family: "Roboto-medium";
    font-size: 20px;
    /* font-weight: bold; */
    margin-left:15px;
    float: left;
}
.star_left{
    margin-left: 2px;
    
}
/* fim section 4 */

/* section 5 */
.section_anunciar{
    width: 100%;
    height: auto;
    min-height: 500px;
    margin-left: auto;
    margin-right: auto;
    
}
#segura_conteudo{
    width: 1250px;
    height: auto;
    min-height: 500px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
}
.anunciar_veiculo{
    width: 1250px;
    height: auto;
    min-height: 500px;
    overflow: hidden;
    margin-top: 20px; 
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}
.anunciar_veiculo h2{
    text-align: center;
    font-family: "Roboto";
    font-size: 20px;
    font-weight: bold;  
    margin-top: 20px;
}
.div_passos{
    width:300px;
    height: auto;
    min-height: 350px;
    /* border:1px solid black; */
    float:left;
    margin-top: 50px;
    margin-left: 10px;
}
.div_passos img{
    width:180px;
    height: 200px;
    /* border:1px solid black; */
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 20px;
    border-radius:20px;
}
.div_passos h2{
    margin-top: 10px;
    text-align: center;
    font-family: "Roboto";
    font-size: 17px;
}
.texto_como_anunciar{
    width:250px;
    height: 125px;
    /* border:1px solid black; */
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
    text-align: center;
    font-family: "Roboto-regular";
    font-size: 16px;
}
/* fim section 5 */
/* section 6 */
.section_fale_conosco{
    width: 100%;
    height: 650px;
    margin: 0px auto;
    padding-top:50px;
    background-color: #ededed;
/*    box-shadow: -7px -8px 91px 0px #848484;*/
}

.section_fale_conosco h2{
    text-align: center;
    font-family: "Roboto";
    font-weight: bold;  
    color:#000;
    font-size: 30px;
   
}
.fale_conosco{
    width: 500px;
    height:520px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding-top: 20px;
    padding-left: 50px;
}
.input_form{
    width: 400px;
    overflow: hidden;
    font-family: "Roboto";
    font-weight: bold;  
    font-size: 17px;
    font-size: 20px;
    padding: 5px 0;
    margin: 25px 0;
    border-bottom: 1px solid black;
}
.input_form input, textarea{
    outline: none;
    border: none;
    background: none;
    color: black;
    font-family: "Roboto";
    font-weight: bold;  
    font-size: 17px;
    font-size: 18px;
    width: 400px;
    margin: 10px;
    resize: none;
}
#buttonEnviar{
    border:none;
    outline: none;
    width:400px;
    height: 50px;   
    border-radius: 10px;
    cursor: pointer;
    background-color: #008039;
    font-family: "Roboto-regular";
    /* font-weight: bold;   */
    font-size: 17px;
    color:#fff;
}
#buttonEnviar:hover{
   background-color: #2f9428;
}

