@import "style.css";
@import "estrutura.css";

#conteudo .legend{
    text-align: center;
    font-size: 1.6em;
    color: #2d2a2a;
    padding: 4px;
    font-family: Arial;
    /* border: solid 0.2px; */
    border-bottom: solid .001rem;
    background-color: white;
    color: #469048;
}
#conteudo #pesquisa{
    border-bottom: solid 1px #ccc;
    padding-bottom: 18px;
    height: auto;
    overflow: auto;
}
#conteudo #pesquisa i{
    color:#000;
    text-align:center;
}

#conteudo #pesquisa #caixa-pesquisa{
   width: 68%;
   padding: 3px;
}
#conteudo #pesquisa #caixa-pesquisa input{
    border-radius: 4px 0px 0px 5px;border: 1px solid #666;box-shadow: 0 0 10px rgba(0, 0, 0, 0.2) inset;padding: 4px;/* margin:2px; */}
#conteudo #pesquisa #caixa-pesquisa i{
    font-size: 0.99em;
    /* display: block; */
    line-height: 1.5;
    border-radius: 0px 4px 4px 0px;
    border: solid .06rem #aba2a2;
    padding: 0px 2px 0px 2px;
    background: rgb(240,238,238);
    background: -moz-linear-gradient(90deg, rgba(240,238,238,1) 8%, rgba(240,237,237,1) 52%, rgba(251,249,249,1) 88%);
    background: -webkit-linear-gradient(90deg, rgba(240,238,238,1) 8%, rgba(240,237,237,1) 52%, rgba(251,249,249,1) 88%);
    background: linear-gradient(90deg, rgba(240,238,238,1) 8%, rgba(240,237,237,1) 52%, rgba(251,249,249,1) 88%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f0eeee",endColorstr="#fbf9f9",GradientType=1);
    color: #006D5C;
    text-shadow: 0px 0px 0.1px #006D5C;
    text-decoration: none;
    margin: 0px;
    }
#conteudo #AnunciosBox{
  justify-content: center;
  align-items: center;
  height: auto;
  overflow: auto;
  text-align: center;
}
/* Formatação dos anuncios */
#conteudo #AnunciosBox .anuncio{
  max-width: 254px;
  margin: 10px 10px;
  padding-bottom: 12px;
  background: #fff;
  border: solid 0.01rem #d4d4d4;
  -webkit-box-shadow: 0px 0px 31px -1px rgba(171,171,171,1);
  -moz-box-shadow: 0px 0px 31px -1px rgba(171,171,171,1);
  /* float: left; */
  box-shadow: 0px 0px 42px -1px rgb(238, 238, 238);
  display: inline-block;
  align-self: center;
}
#conteudo #AnunciosBox.action-animated .anuncio{
  animation: slideInLeft 3s 1;
  -webkit-animation: slideInLeft 3s 1;
  transition: opacity 2s;
  /* float: left; */
  margin: 10px 20px 10px 20px;
}

#conteudo #AnunciosBox .anuncio .titulo{
        text-align: center;
}
#conteudo #AnunciosBox .anuncio .img{
        margin: 8px;
        display: flex;
        background-color: black;
}
#conteudo #AnunciosBox .anuncio .img img{
    width: 100%;
    height: 164px;
}
#conteudo #AnunciosBox .anuncio .desc{
    font-size: 0.9em;
    text-align: initial;
}
#conteudo #AnunciosBox .anuncio .desc .anuncio_dado .anuncio_atributo{
    color: #1f1f1f;
    padding-left: 8px;
    min-width: 21%;
    text-align: left;
    font-weight: bold;
}
#conteudo #AnunciosBox .anuncio .desc .anuncio_dado .anuncio_valor{
    text-align: end;
    min-width: 60%;
    max-width: 60%;
    word-wrap: break-word;
    height: auto;

}

#conteudo #AnunciosBox .anuncio button{
    display: block;
    background-color: #4d854d;
    color: white;
    font-size: 1em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 14px;
    padding: 8px;
    letter-spacing: .02rem;
    border-width: .09rem;
    border-color: black;
}

#conteudo #AnunciosBox .anuncio:hover{
  -webkit-box-shadow: 0px 3px 37px -1px rgba(87,87,87,1);
  -moz-box-shadow: 0px 3px 37px -1px rgba(87,87,87,1);
  box-shadow: 0px 3px 37px -1px rgba(87,87,87,1);
  cursor:pointer;  
}

#conteudo #AnunciosBox.action-animated .anuncio{
  animation: slideInLeft 3s 1;
  -webkit-animation: slideInLeft 3s 1;
  transition: all 2s;
  /* float: left; */
  display: inline-block;
  margin: 10px 20px 10px 20px;
}

#paginate{
    max-width: 110px;
    display: block;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2em;
    height: 28px;
}
.paginate-number{
    padding: 0px 10px;
    font-weight:bold;
    /* font-size: 1.2em; */
    height: 100%;
    float: left;
    font-size: 1.2em;
    line-height: 0.8;
}
.paginate-next i,.paginate-prev i{
    color: #000;
    font-size:1em;
    line-height: .1;
}
.paginate-prev{
    float: left;
}
.paginate-next{float: left;}



/* ANIMACAO slidein */
@-webkit-keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInLeft {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
}
#explicao_como_alugar{
    width:900px;
    height: auto;
    min-height: 00px;
    /* border:1px solid black; */
    margin-left: auto;
    margin-right: auto;
}
#explicao_como_alugar h3{
    font-family: "Roboto";
    font-weight: bold;  
    font-size: 30px;
    margin-top: 50px;
    text-align: center;
}
#explicao_como_alugar p{
    padding-left: 20px;
    font-family: "Roboto";
    font-weight: bold;  
    font-size: 15px;
    margin-top: 20px;
    text-align: center;
    line-height: 30px;
}
 #segura_filtro{
    width:1020px;
    height: 90px;
    border-radius: 15px;
    margin:40px auto;
    padding: 15px 60px;
}
.btn_filtro{
    width: 180px;
    height: 45px;
    display: block;
    margin: 20px auto;
    border-radius: 7px;
    color: white;
    font-family: "Roboto";
    font-weight: bold;  
    font-size: 17px;
    border: none;
    outline: none;
    background-color: #000;
    cursor: pointer;
}
.btn_filtro:hover{
    transition: 0.2s;
    background-color: rgb(77, 77, 77);
}
.combo_box{
    float: left;
    width: 220px;
    height: 75px;   
}
.combo_box label{
    font-family: "Roboto";
    font-weight: bold;  
    font-size: 17px;
}
.combo_box select{
    width:215px;
    height: 35px;
    margin-top:5px;
    border-radius: 5px;
    outline: none;
    font-family: "Roboto";
    font-weight: bold;  
    font-size: 15px;
}
#segura_anuncios{
    width:1100px;
    height: auto;
    min-height: 905px;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 9px;
    overflow: hidden;
}

.anuncios{
    width: 300px;
    height: 380px;
    border-radius: 15px;
    float: left;
    margin: 30px 30px;
    background-color: #ffffff;
    /* border:2px solid #277b21; */
}
#segura_anuncios a{
    color:#000;
}
.anuncios:hover{
    transition: 1s;
    box-shadow:4px 4px 20px 0px rgb(142, 142, 142);
    /* transform: scale(1.1) */
}
.img_anuncio{
    width: 300px;
    height: 190px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-top-right-radius: 14px;
    border-top-left-radius: 14px;
}
.img_anuncio img{
    width: 297px;
    height: 188px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1px;
    display: block;
    border-radius: 2px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}
.info_anuncio{
    width:300px;
    height: auto;
    min-height: 150px;
    padding: 8px 15px;
}
.nome_veiculo{
    font-family: "Roboto-medium";
    font-size: 20px;
}
.info_veiculo{
    font-family: "Roboto-regular";
    font-size: 16px;
    line-height: 22px;
    /* font-weight: bold; */
}
.stars_avaliacao{
    width:210px;
    height: 35px;
    padding-top: 5px;
    margin-top: 10px;
}
.stars_avaliacao img{
    width:28px;
    height: 28px;
    float: left;
}
.percentual_avaliacao{
    font-family: "Roboto-medium";
    font-size: 20px;
    /* font-weight: bold; */
    margin-left:15px;
    float: left;
}
.star_left{
    margin-left: 2px;
    
}