@import "style.css";
@import "estrutura.css";

.section_termos_uso{
    width: 100%;
    height: auto;
    min-height: 1500px;
    padding-top: 50px;
    /* border:1px solid black; */
}
.section_termos_uso h2{
    text-align: center;
    font-family: Roboto;
    font-weight: bold;
    font-size: 30px;

}
.conteudo{
    width:1300px;
    height: auto;
    min-height: 1500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    
}
.texto_termos{
    width:700px;
    height: auto;
    min-width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding: 30px;
    text-align: center;
    font-family: Roboto;
    font-weight: bold;
    font-size: 16px;
}
.termos{
    width:1200px;
    height: 1100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    /* border:1px solid black; */
    overflow: auto;
}
.termos p{
    padding-top: 20px;
    padding-left: 35px;
    padding-right: 35px;
    text-align: justify;
    font-family: "Roboto";
    font-weight: bold;
    font-size: 18px;
    color:black; 
    line-height: 28px;

}

