#conteudo_agendamento{
    width: 100%;
    height: 703px;
    float: left;
    border: solid 1px;
    margin-top: 15px;
}

#h2Border{
    width: 99px;
    height: 15px;
    margin-top: -15px;
    margin-left:50px;
    background-color:#fff;
}
#principal_agendamento{
    margin-top: 45px;
    width: 942px;
    height: 670px;
    margin-left: 10px;
}

.segura_coluna{
    width: 2000px;
    height: 60px;
    /* background-color: antiquewhite; */
}

.coluna{
    width: 156px;
    height: 60px;
    float: left;
    border: solid 1px;
}
#nome{
    width: 60px;
    height: 20px;
    font-family: verdana;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
#veiculo{
    width: 97px;
    height: 20px;
    font-family: verdana;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

#retirada{
    width: 90px;
    height: 20px;
    font-family: verdana;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    }

#devolucao{
    width: 82px;
    height: 20px;
    font-family: verdana;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
 }
 #retirada_data{
    width: 128px;
    height: 20px;
    font-family: verdana;
    font-size: 20px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    }

#devolucao_data{
    width: 73px;
    height: 50px;
    font-family: verdana;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    }

#valor{
    width: 100px;
    height: 20px;
    font-family: verdana;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

#rs{
    width: 65px;
    height: 20px;
    font-family: verdana;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

#cancelar{
    width: 104px;
    height: 20px;
    font-family: verdana;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.icones{
    width: 30px;
    height: 30px;
    border-radius: 100px;
    float: left;
    margin-left: 10px;
}