
#conteudo_meus_veiculos{
    width: 960px;
    height: 708px;
    float: left;
    border: solid 1px;
    margin-top: 10px;
    /* overflow-x: hidden; */
    /* overflow-y: auto; */
}

h4{
    font-family: verdana;
    font-size: 16px;
    margin-left: 60px;
}

#h2Border{
    width: 150px;
    height: 15px;
    margin-left:50px;
    margin-top: -12px;
    background-color: #fff;
}






#principal_veiculos{
    width: 900px;
    height: 580px;
    margin-left: auto;
    margin-right: auto;
}
.segura_veiculo{
    width: 900px;
    height: 280px;
    margin-top: 50px;
}
.caixa_veiculo{
    width: 230px;
    height: 300px;
    border: solid 1px;
    border-radius: 20px;
    float: left;
    margin-left: 50px;
}

.imagem_veiculo{
    width: 210px;
    height: 130px;
/*    border: solid 1px;*/
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
        
}

.foto_veiculo{
    width: 210px;
    height: 130px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
        
}

.bolinha{
    width: 30px;
    height: 30px;
    background-color: grey;
    border-radius: 30px;
    margin-left: 210px;
    margin-top: -150px;
    
}
.titulo_veiculo{
  width: 200px;
  height: 20px;
  margin-top: 120px;
  background-color:#fff;
    margin-left: 20px;
}
.dados_veiculo{
    width: 230px;
    height: 100px;
    margin-top: -10px;
    
}

.dados{
  font-family: verdana;
    font-size: 13px;
    margin-left: 10px;
}
