#conteudo_veiculos_estatistica{
    width: 960px;
    height: 708px;
    float: left;
    border: solid 1px;
    margin-top: 10px;
    /* overflow-x: hidden; */
    /* overflow-y: auto; */
}
#h2Border{
    width: 110px;
    height: 15px;
    margin-left:50px;
    margin-top: -12px;
    background-color: #fff;
}
.categoria{
    width:100px;
    height:50px;
    border:solid 1px #000;
}
